:root{
  --purple: rgb(73, 56, 92);
  --background:  linear-gradient(90deg, rgba(187,141,144,1) 0%, rgba(228,165,219,1) 76%, rgba(187,189,213,1) 100%);
}
html, body {
  font-family: 'Roboto Mono', monospace;
  width: 100vw;
  overflow-x:hidden;
}
body{
  display: flex;
  flex-flow:column;
  align-items:center;
  text-align:center;
  width:100vw;
  height:100%;
  background: var(--background);
  color:var(--purple);
}
.countHolder > #name{
  flex: 3;
  
}
.countHolder > input:not(#name) {
  flex: 1;
  max-width:4rem;

}
.countHolder > input{
  height: 3rem;
  border-radius: 3px;
  border-width: 3px;
  border-color:var(--purple);
  color:var(--purple);
  margin: 0 10px;

  font-size: 1.5rem;
}
.countHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2em 0;

}

#buttons {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-between;
  margin: 2rem 5px;
}
button{ 
  background: rgb(144,141,187);
  background: linear-gradient(90deg, rgba(144,141,187,0.5) 0%, rgba(165,225,228,0.2) 35%, rgba(187,208,213,0.2) 1003%);
  color:var(--purple);
  border-top-style:hidden;
  border-left-style:hidden;
  border-right-style:hidden;
  border-bottom-style: solid;    
  border-width: 4px;
  border-radius: 10px;
  flex: 1 1 auto;
  padding: 0.5em;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: transform 0.2s ease-out;
  
}
button:hover{
  transform: scale(1.2);
}
button:active{
  transform: scale(0.8);
}

button > img{
  transition: transform 0.2s ease-out;
}
button:hover > img{
  transform: scale(1.2);
}



#submitSize{
  align-items: center;
  display: flex; 
}
#reset{
  align-items: center;
  display: flex; 
  
}
.inputarray{
  font-family: 'Roboto Mono', monospace;
  justify-content: center;
  border-color:var(--purple);
  color:var(--purple);
}
#result{
  width : 90vw;
  font-size: 1rem;

}
#inputHolder{ 
  border-radius: 10px;
  white-space: nowrap ;
  overflow-x: auto;
  font-family: 'Roboto Mono', monospace;
  
}
#inputHolder > input{
  width:2rem;
  font-size: 1.2rem;
}
#codeResult{ 
  margin: 2em auto;
  text-align: center;
  word-wrap:break-word;
}
#headerHolder{
  text-align: center;
  width:90%;
  font-size: 1.3rem;
}
